@import "variables";

hr {
  border: 1px dashed;
}
p {
  font-family: 'Open Sans',sans-serif;
}
// ################### NAVBAR #####################

ul.topnav {
  align-items: center;
  background-color: $nav-background-color;
  color: $nav-anchor-color;
  display: flex;
  font-size: $nav-font-size;
  height: $nav-height;
  justify-content: space-around;
  opacity: $opacity;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  li {
    list-style: none;
    a {
      color: $nav-anchor-color;
      text-decoration: none;
    }
  }
}

ul.topnav {
  li.dropdownIcon {
    display: none;
  }
}

// ################### CAROUSEL #####################
.carousel {
  .carousel-item-1 {
    background-image: url('../images/image1.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 300px;
  }
  .carousel-item-2 {
    background-image: url('../images/image2.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 300px;
  }
  .carousel-item-3 {
    background-image: url('../images/image3.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 300px;
  }
}

// ################### MENU #####################
.menu {
  background-image: url('../images/bg-gray-in.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    font-family: 'Courgette';
    font-weight: 600;
    padding-top: $menu-padding-top;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.menu-portion {
  padding-top: $menu-padding-top;
}

.side-img {
    display: inline-block;
    height: $menu-img-height;
    width: $menu-img-width;
}

.side-img.left-side-img i:first-child, .side-img.left-side-img i:last-child {
    margin: 0 0 1px 10px;
    width: 65px;
}
.side-img i:first-child, .side-img i:last-child {
    width: 65px;
}
.side-img i {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B71C1C -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    box-sizing: content-box;
    display: inline-block;
    float: left;
    height: 1px;
    margin: 0 0 1px;
    width: 75px;
}
.side-img i:first-child, .side-img i:last-child {
    width: 65px;
}

.menu-portion {
  display: flex;
  justify-content: space-around;
  padding-bottom: $menu-padding-bot;
  .menu-left {
    display: block;
  }
  .menu-left img {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  .menu-text {
    line-height: $menu-line-height;
    p {
      margin-top: $menu-margin-top;
      text-align: left;
    }
  }
  .menu-btn button {
    width: 100%;
  }
}

// ################### ABOUT #####################

.about {
  h2 {
    font-family: 'Courgette';
    padding-top: $about-padding-top;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .about-items {
    display: flex;
    justify-content: space-around;
  }
  div {
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
}

.about-1, .about-2 {
  display: block;
  div {
    margin: 10px;
    overflow: hidden;
    position: relative;
  }
  span {
    position:absolute;
    bottom:0px;
    width: 100%;
    z-index: 9;
    p {
      background-color: $nav-background-color;
      color: $nav-anchor-color;
      margin: 0;
      opacity: $opacity;
      padding: $about-div-padding;
      bottom: 0;
    }
  }
  img {
    height: auto;
    max-width: 100%;
    transform: scale(1.1);
    &:hover {
      transition: .35s;
      transition-timing-function: ease-in;
      transform: scale(1);
      width: 100%;
    }
  }
}

.about-desc {
  padding-top: $about-desc-padding;
}

// ################### HOURS #####################
.restaurant-hours {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('../images/bg-1.jpg');
  // background-image: url('../images/bg-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: $opacity;
  h2 {
    color: white;
    font-family: 'Courgette';
    padding-top: $hours-padding;
    text-align: center;
    text-shadow: 0px 0px 3px black;
  }
}

.hours {
  padding: $hours-padding-top;
  .day-of-week {
    color: red;
  }
  p {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px black;
  }
}

// ################### CONTACT #####################
.contact {
  background-color: black;
  h2 {
    color: $contact-text-color;
    font-family: 'Courgette';
    padding-top: $contact-padding-top;
    text-align: center;
    text-shadow: 0px 0px 3px black;
  }
  p {
    color: $contact-text-color;
    text-align: center;
    text-shadow: 0px 0px 3px black;
  }
}

.contact-details {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
  .contact-text {
    p {
      text-align: left;
    }
    .contact-title {
      color: red;
    }
  }
}

.contact-image {
  img {
    max-width: 100%;
  }
}

.contact-location {
  padding-bottom: 40px;
}

// ################### MOBILE #####################

@media only screen and (max-width: 320px) {
  ul.topnav {
    align-items: center;
    li:not(:nth-child(1)) {
      display: none;
    }
    li.logo {
      margin: 0 auto;
    }
    li.dropdownIcon {
      display: block;
      padding-right: $nav-padding;
    }
  }

  ul.responsive {
    background-color: $nav-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: $opacity;
    position: relative;
    li {
       display: inline;
       list-style: none;
       float: none;
       a {
           color: $nav-anchor-color;
           display: block;
           font-size: $nav-font-size;
           margin-bottom: $nav-margin;
           padding-top: $nav-padding;
           text-decoration: none;
         }
     }
  }

  ul.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: $nav-padding;
  }

  .about-items {
    flex-direction: column;
  }

  .menu, .about, .restaurant-hours, .contact {
    h2 {
      span {
        display:none;
      }
    }
  }

  .contact-details {
    flex-direction: column;
  }

}

@media only screen and (max-width: 480px) {
  ul.topnav {
    align-items: center;
    li:not(:nth-child(1)) {
      display: none;
    }
    li.logo {
      margin: 0 auto;
    }
    li.dropdownIcon {
      display: block;
      padding-right: $nav-padding;
    }
  }

  ul.responsive {
    background-color: $nav-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: $opacity;
    position: relative;
    li {
       display: inline;
       list-style: none;
       float: none;
       a {
           color: $nav-anchor-color;
           display: block;
           font-size: $nav-font-size;
           margin-bottom: $nav-margin;
           padding-top: $nav-padding;
           text-decoration: none;
         }
     }
  }

  ul.responsive li.dropdownIcon {
    padding-right: $nav-padding;
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu-left img {
    height: auto;
  }

  .menu-portion {
    flex-direction: column;
    .menu-left {
      margin-bottom: $nav-margin;
      img {
        max-width: 100%;
      }
    }
  }

  .about-items{
    flex-direction: column;
  }

  .menu, .about, .restaurant-hours, .contact {
    h2 {
      span {
        display:none;
      }
    }
  }

  .contact-details {
    flex-direction: column;
  }

}

@media only screen and (max-width: 1024px) {
  .menu-portion {
    display: flex;
    justify-content: space-around;
    padding-bottom: $nav-padding;
    .menu-left img {
      height: auto;
      max-width: 100%;
    }
    .menu-text {
      line-height: $menu-line-height;
      p {
        flex-wrap: wrap;
        margin-top: $menu-margin-top;
        text-align: left;
      }
    }
    .menu-btn button {
      width: 100%;
    }
  }

  .about-1, .about-2 {
    display: block;
    span {
      p {
        background-color: $nav-background-color;
        color: $nav-anchor-color;
        opacity: $opacity;
        padding: $about-div-padding;
        position: relative;
        bottom: 0;
      }
    }
    img {
      max-height: 250px;
      max-width: 100%;
    }
  }

}
